@tailwind base;
@tailwind components;
@tailwind utilities;

#dashboard-nav {
    font-size: large;
    font-weight: bolder;
}

#dashboard-nav:hover {
    color: #2155CD;
}

#post-title {
    font-size: x-large;
    font-weight: 800;
}

#submit-comment {
    background-color: #2155CD;
    font-size: small;
}

#submit-comment:hover {
    background-color: #000000;
    font-size: small;
}

.comment-box {
    margin: -2% 0 4% 48%;
}

.comment-interact * {
    display: inline-block;
    margin: 0 0 1% 2%;
}

.delete-button {
    font-size: x-small;
    font-weight: 600;
    color: white;
    background-color: #F96666;
    margin-left: 40%;
}

.heart-button, .trash-button {
    background-color: #2155CD;
}

.heart-button:hover, .trash-button:hover {
    background-color: #000000;
}

.submit-button {
    width: 96%;
    background-color: #2155CD;
}

.submit-button:hover{
    background-color: #000000;
}

.username {
    font-weight: bold;
    font-size: large;
}

.author {
    text-align: center;
    margin-bottom: 6%;
}

.button-links {
    display: flex;
    margin: -7% 0 4% -7%;
}

.container-feed {
    margin-bottom: 10%;
}

.favourites-btn {
    margin: -13% 0% 10% 95.4%;
}

.feed-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 12%;
}

.liked-heart {
    background-color: #000000;
}

.likes-text {
    margin-left: 8%;
    font-size: 12px;
    font-weight: 600;
}

.profile-cards {
    margin: 4% 0 0 16%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-image {
    height: 200px;
    width: 384px;
}

.profile-links {
    display: flex;
    margin-left: 20%;
    padding: 0 10%;
    width: 120%;
    font-weight: bolder;
}

.profile-span {
    margin: 0 2%;
}

.main-profile-link {
    text-decoration: underline;
}

@media screen and (max-width: 1536px) {
    .feed-cards-child {
       flex-basis: 38%;
       margin-left: 2%;
    }
}

@media (max-width: 1024px) and (min-width: 200px) {
    .feed-cards-child {
       flex-basis: 100%;
       margin-left: 10%;
    }
}